// Place all the styles related to the GamesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  display: inline;
  padding: 15px;
  font-size: 50px;
  margin: 10px;
  text-align: center;
  border: solid 1px #888;
  background-color: #0094E2;
  color: white
}

form{
  font-size: 50px;
}

p {
  font-size: 50px;
}
